.btn-outline-2 {
    background: none;
    border: 1px solid var(--primary-color);
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    color: var(--primary-color);
}

.btn-primary {
    background: var(--primary-color);
    color: var(--light-color);
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
}


.login-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80vw;
    margin: 50px auto;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden;
}


.login-box {
    padding: 40px;
    flex: 1;
}


input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input{
    height: 30px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.login-banner {
    background: #e5f0e1;
    padding: 40px;
    text-align: center;
    flex: 1;
}

.login-banner img {
    margin-top: 20px;
    max-width: 100%;
    border-radius: 10px;
}

.negrito{
    font-weight: bold;
}

.btn-login{
    padding: 15px 20px;
}

@media (max-width: 768px) {

    .btn-outline-2, .btn-primary {
        font-size: 12px;
        padding: 5px 10px;
    }

    .login-container {
        flex-direction: column;
    }

    .login-banner {
        display: none;
    }
}

@media (max-width: 367px){
    .buttons {
        flex-direction: column;
        width: 100%;
    }
    .login-box {
        padding: 20px;
    }

    .btn-outline-2{
        display: block !important;
    }
}
